body{
    margin: 0;
    padding: 0;
    font-family: "brother-1816-printed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    background-color: #F5F1DC;
    position: fixed;
      width: 100vw;
}

.logo{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#hamburger{
    display: none;
}
.close{
    display: none;
    width: 3em;
    margin-bottom: 1em;
    cursor: pointer;
    position: fixed;
    right: 2em;
    top: 1.3em;
}

#hamburger:checked ~ .slideout {
    transform: translateX(0);
}

.navh{
        text-decoration: none;
    color:#780116;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em 1em;
    display: block;
    text-align: right;
    border-bottom: 1px solid #eee
}

.button55{
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.button5{
 
    text-decoration: none;
    background-color: #780116;
    color: #F5F1DC;
    padding: 0.4em 1.5em;
    border-radius: 2em;
    font-size: 1.4em;
    display: inline-flex;
    align-items: center;
}
.slideout{
    background-color: #F5F1DC;
    position: absolute;
    width:100%;
    transform: translateX(100%);
    transition: all 0.2s ease-in;
    align-items: right;
    justify-content: right;
}

.hamburg{
    width: 4em;
    margin-bottom: 1em;
    cursor: pointer;
    position: fixed;
    right: 2em;
    padding-top: 1em;
}
#hamburger:checked + .menu-btn .hamburg {
  display: none;
}

#hamburger:checked + .menu-btn .close {
  display: block;
}

.navd{
    display: none;
}

.hero h1{
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  padding-left: 0.3em;
 line-height: 0.9em;
 padding-top: 2.5em;
}

.hero{
    display: flex;
}
.hero img{
    width: 15em;
    height: 11em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 6em;
}
.heroimg2{
    display: none;
}

.herotext{
    display: flex;
    justify-content:flex-start;
    padding-left: 1em;
}
 
.herotext p{
      width: 100%;
  max-width: 500px;
  font-size: 1.5em;   
}

.button1{
    display: flex;
    width: 10em;
    text-decoration: none;
    background-color: #780116;
    color: #F5F1DC;
    align-items: center;
    justify-content: center;
    padding: 0.3em;
    border-radius: 2em;
    font-size: 2em;
}

.button1:hover {
    transform: scale(1.05);
}

.button2{
    display: flex;
    width: 10em;
    text-decoration: none;
    color: #780116;
    align-items: center;
    justify-content: center;
    padding: 0.3em;
    border-radius: 2em;
    border: 2px solid #780116;
    font-size: 2em;
}
.button2:hover{
    transform: scale(1.05);
}
.herobutton{
    display: grid;
    gap: 1em;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 4em;
}
.Over{
    padding-top: 1em;
    text-align: left;
    padding-left: 1em;
    background-color: #F5F1DC;
}

.Over h1{
    text-align: center;
font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}

.Over h2 {
    font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  color: #780116;
  width: 100%;
  max-width: 500px;
}

.Over p{
 width: 100%;
  max-width: 500px;
    font-size: 1.5em;   
    display: flex;
}

.img1{
      width: 100%;
  max-width: 400px;
  padding-top: 1em;
}
.p2{
    padding-bottom:2em;
}

.button3{
        display: flex;
    width: 10em;
    text-decoration: none;
    background-color: #780116;
    color: #F5F1DC;
    align-items: center;
    justify-content: center;
    padding: 0.3em;
    border-radius: 2em;
    font-size: 2em;
}

.button3:hover{
    transform: scale(1.05);
}

.img2{
          width: 100%;
  max-width: 400px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.Events h1{
    text-align: center;
font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}


.Events {
    text-align: center;
    padding-bottom: 4em;
}

.eve {
    display: grid;
    gap: 3em; 
    padding: 2em;
}

.event {
    background-color: #102022;
    color: #F5F1DC;
    border-radius: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 3em;
}

.event img {
    width: 100%;
    max-width: 1000px;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
}

.eventt {
    font-family: "Galada", cursive;
    font-size: 3em;
    padding: 1em;
    line-height: 1.2em;
    text-align: left;
}

.eventp {
    font-size: 1.5em;
    padding-left: 2em;
    padding-bottom: 1em;
    text-align: left;
    padding-right: 1em;
}

.button4{
    display: flex;
    width: 10em;
    text-decoration: none;
    background-color: #780116;
    color: #F5F1DC;
    justify-content: center;
    padding: 0.3em;
    border-radius: 2em;
    font-size: 2em;
}
.button4:hover{
    transform: scale(1.05);
}
.seemore{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}
.Merch{
    background-color: #F5F1DC;
    padding-top: 1em;
}
.Merch h1{
        text-align: center;
font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}

.carousel{
        display: flex;
    gap: 2em;
    overflow-x: auto;
    padding: 2em;
    scroll-snap-type: x mandatory;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em;
}

.form-container h1 {
        text-align: center;
font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}


.register-form {
    width: 100%;
    max-width: 350px;
    border: 2px solid #780116;
    border-radius: 2.5em;
    padding: 2.5em 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.register-form label {
    font-size: 1em;
}

.register-form input {
    border: none;
    border-bottom: 2px solid #c98b95;
    padding: 0.5em 0;
    font-size: 1em;
    background: transparent;
}

.register-form input:focus {
    outline: none;
    border-bottom-color: #780116;
}

.register-form a {
    text-decoration: none;
    margin-top: 1.5em;
    align-self: center;
    background-color: #780116;
    color: #F5F1DC;
    border: none;
    padding: 0.6em 2em;
    font-size: 1.2em;
    border-radius: 2em;
    cursor: pointer;

}

.register-form a:hover {
    transform: scale(1.05);
}

footer{
    background-color: #F5F1DC;
    border-radius: 2em;
    display: grid;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: #780116;
    font-size: 1.5em;
    font-weight: bold;
}

.socials img{
    padding-top: 2em;
    padding-bottom: 2em;
    width: 4em;
}
.socials{
    display: flex;
    gap: 3em;
}
.logof{
    width: 20em;
    padding-top: 4em;
}

.linkz{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding-bottom: 3em;
}







@media (min-width: 800px) {
    .hero img{
        width: auto;
        height: 30em;
    }
  .hero h1 {
    font-size: 5.5em;
    padding-top: 1.5em;
  }

  .herotext {
    justify-content: flex-start;
    margin-left: 2em;
  }

  .herotext p {
    max-width: 650px;
    font-size: 1.6em;
    line-height: 1.6;
  }
    .herobutton {
    display: flex;
    gap: 2em;
    justify-content: flex-start;
    margin-left: 2em;
  }

  .Over {
  width: 100%;
  padding: 2em 1em;
}
.Over h1{
    font-size: 5.5em;
}
 .Over h2{
    font-size: 4.5em;
    max-width: 100%;
 }
.Over p {
  max-width: 65ch;
  margin-right: auto;
  font-size: 1.6em;
  line-height: 1.7;

}
.img1{
    max-width: 600px;
}
.img2{
    max-width: 600px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.event{
    border-radius: 5em;
}
.eventp{
    font-size: 1.6em;
}
.eventt{
    font-size: 4em;
}
.Events h1{
    font-size: 5.5em;
}
.register-form{
    max-width: 600px;
}
.register-form a {
   font-size: 2em;
}
.register-form label {
    font-size: 1.8em;
}
.register-form input {
    font-size: 1.8em;
}
.form-container h1 {
    font-size: 5.5em;
}
footer{
    display: flex;
    justify-content: flex-start;
    gap: 6em;
}
.icons{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
}
.linkz{
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.8em;
}
}
@media (min-width: 1200px) {
      .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 4em 6em;
    gap: 4em;
  }

  .herotext {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .heroimage{
    display: none;
  }

  .hero h1 {
    font-size: 7em;                
    margin: 0 0 0.5em 0;           
    line-height: 1.1;
  }

  .herotext p {
    font-size: 1.8em;
    line-height: 1.8;
    margin: 0;
    max-width: 60%;
  }

  .herobutton {
    margin-top: 2em;               
    justify-content: flex-start;  
    gap: 2em;
  }
  .hamburg{
    display: none;
  }
  .navd{
    display: flex;
    position: absolute;
    right: 4em;
    top: 1.5em;
    gap: 3em;
  }
  .toplink{
      text-decoration: none;
   color: #780116;
   font-size: 1.8em;
   padding-top: 0.2em;
  }
  .toplinkb{
    font-size: 1.8em;
    text-decoration: none;
    color: #F5F1DC;
    background-color: #780116;
    border-radius: 1em;
     padding: 0.2em 2em; 
  }
  .toplinkb:hover{
    transform: scale(1.05);
}

  .heroimage {
    display: none;
  }

  .herotext {
    display: flex;
    flex-direction: row; 
    gap: 2em;            
    align-items: flex-start; 
  }

 
  .herotext p {
    flex: 1;
    font-size: 1.8em;
    line-height: 1.8;
    margin: 0;
  }

  .heroimg2 {
    display: block;      
    max-width: 40%;      
    height: auto;
  }

    .herobutton {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 2em;
        padding-left: 10em;
    }
    .block{
        display: flex;
    }
    .img1{
        width: 40%;
        height: 20em;
        margin-top: 15em;
    }
    .img2{
        width: 40%;
        height: 50em;
        margin-top: 10em;
    }
    .event {
        flex-direction: row;
        align-items: center;
        background-color: #102022;
        border-radius: 2.5em;
        padding: 2em;
        gap: 2em;
    }

    .event img {
        order: 2;
        width: 45%;
        max-width: 100%;
        border-radius: 2em;
        object-fit: cover;
        height: auto;
    }

    .eventt, .eventp {
        order: 1; 
        width: 55%;
    }

    .eventt {
        font-size: 3em; 
        padding-bottom: 1em;
    }

    .eventp {
        font-size: 1.8em;
        line-height: 1.5;
    }
    footer {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start; 
        padding: 2em 6em;
        gap: 2em; 
        position: relative;
    }

    .icons {
        flex: 0 0 auto; 
    }


    .linkz {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, auto); 
        grid-template-rows: repeat(3, auto);   
        justify-content: center; 
        gap: 1em 3em; 
    }

    .linkz a {
        display: block;
        text-align: center;
}
    .Over {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        text-align:left;
        padding: 4em 6em; 
    }
    .eventp{
        padding-left: 0;
    }
    
}