body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #F5F1DC;
}

.logo{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.hamburg{
    margin-left: 20em;
    width: 4em;
    margin-bottom: 1em;
}

.navd{
    display: none;
}

.hero h1{
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
  padding-left: 0.3em;
 line-height: 0.9em;
}

.hero{
    display: flex;
}
.hero img{
    width: 14em;
    height: 10em;
    margin-top: 1em;
}